[project]
	description = first repository on GitHub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gabriel1026
[access "refs/for/refs/*"]
	read = group user/gabriel1026
	push = group user/gabriel1026
	label-Code-Review = -2..+2 group user/gabriel1026
	label-Verified = -1..+1 group user/gabriel1026
	rebase = group user/gabriel1026
	removeReviewer = group user/gabriel1026
	submit = group user/gabriel1026
[access "refs/heads/*"]
	read = group user/gabriel1026
	create = group user/gabriel1026
	push = +force group user/gabriel1026
	pushMerge = group user/gabriel1026
[access "refs/tags/*"]
	push = +force group user/gabriel1026
	pushTag = group user/gabriel1026
	pushSignedTag = group user/gabriel1026
